@media (max-width: 1235px){
    .service-1{
        text-align: center;
    }
}


@media (max-width: 1050px){
    .hero-left h1{
        font-size: 55px;
    }
}


@media (max-width: 1045px){
    .hero-row{ 
        align-items: center;
        justify-content: center; 
    }
    .hero-left {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .hero-left .btns{
        justify-content: center;
    }

}

@media (max-width: 1003px){
    .contact-right{
        margin-top: 0px;
    }
}

@media (max-width: 992px){
    .hero-right img {
        width: 350px;
        height: 350px;
    }
    .about-content p{
        text-align: justify;
    }
    .about-content h3{
        font-size: 35px;
    }
    .about-content hr{
        width: 140px;
    }
    .service-section h1{
        font-size: 35px;
    }
    .service-section .s-border{
        width: 180px;
    }
    .service-section .service-content h2{
        font-size: 25px;
    }
    .blogs-title h1{
        font-size: 35px;
    }
    .blogs-title .blogs{
        width: 180px;
    }
    .contact-section .contact-title h4{
        font-size: 35px;
    }
    .contact-title .contact{
        width: 250px;
    }
    .contact-left .color{
        font-size: 40px;
    }
    .about-section .skills h3 {
        font-size: 35px;
    }
    .hero-row{
            display: flex;
            padding: 40px 50px 45px 50px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
    
    }
}

@media (max-width: 950px){
    .nav-menu li {
        display: none;
    }
    .btn{
        display: block;
    }
}


@media (max-width: 850px){
    .contact-left .our-block img{
        width: 350px;
    }
    .contact-right {
        padding: 30px 40px 30px 40px; 
    }
    
}

/* @media (max-width: 844px){
    .contact-right{
        margin-top: 0px;
    }
} */

@media (max-width: 582px){
    .contact-right{
        padding: 30px 20px;
    }
}

@media (max-width: 575px){
    .service-section .service-content .icon{
        font-size: 40px;
    }
}

@media (max-width: 500px){
    .myImage{
        height: 100% !important;
        width: 100%;
    }
    .hero-right .img{
        width: 300px;
        height: 300px;
    }
    .hero-left h2{
        font-size: 35px;
    }
    .hero-left h1{
        font-size: 45px;
    }
}

@media (max-width: 482px){
    .footer-content .footer-menu{
        padding: 18px 40px;
    }
}

@media (max-width: 475px){
    .about-content p{
        padding: 0 30px;
        /* margin-right: 50px; */
        margin: 0 auto;
        }
        .about-section .skill-section {
            gap: 20px !important;
    }
    .blog1{
        width: 380px;
        padding: 20px 20px;
    }
            
}
     

@media (max-width: 465px){
    .contact-right{
        padding: 20px 35px 20px 35px;
    }
    input,
    textarea,
    label{
        width: 100%;
        padding-top: 8px;
        padding-right: 220px;
    }
    .sub-btn{
        padding: 8px 15px;
        font-size: 16px;
    }
       
   
}

@media (max-width: 452px){
    .footer-content .footer-menu{
        padding: 25px 0;
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 450px){
    .hero-left .btns .bg{
        padding: 10px 18px;
    }
    .hero-left .btns .trans{
        padding: 10px 18px;
    }
}

@media (max-width: 376px){
    .blog1 img{
        width: 250px;
        height: 150px;
    }
    .blog1{
        width: 300px;
        padding: 20px 20px;
    }
    .blog1 .blog-title h2{
        font-size: 20px;
    }
    .blog1 .blog-desc p{
        padding: 0;
        text-align: justify;
    }
    .service-section .service-content{
        width: 300px;
    }
    .hero-left .btns .bg{
        padding: 10px 18px;
        font-size: 15px;
    }
    .hero-left .btns .trans{
        padding: 10px 18px;
        font-size: 15px;
    }

}