@media (max-width: 950px){
    .nav-menu li {
        display: none;
    }
    .btn{
        display: block;
    }
}

@media (max-width: 1050px){
    .hero-left h1{
        font-size: 55px;
    }
}

@media (max-width: 1045px){
    .hero-row{
        flex-wrap: wrap !important;
        display: flex !important;
    }
}
@media (max-width: 992px){
    .hero-right img {
        width: 350px;
        height: 350px;
    }
}